body{
font:400 13px/1.2 Arial , sans-serif;
color:  #797b7f;
background: #fff url('../img/bg.jpg') 100% no-repeat  ;
background-size: cover;
}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 60px;
	max-width: 1200px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;

}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;

}
.ba-button--sign-up {
	color:  #ffffff;
	font-size: 18px;
	font-weight: 700;
	line-height: 51px;
	background-color:  #ea355a;
	box-shadow: 0px 3px 0px 0px #bd1962;
	border: 0;
	border-radius: 3px;
	width: 100%;
	text-align: center;
	margin-bottom:9px;
}
.ba-button--sign-up:hover {
	color:  #ea355a;
	background-color:  #ffffff;
	border:1px solid #bd1962;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	flex-grow: 1;
	line-height: 40px;
	border-radius:4px;
	background-color:  #f0f0f0;
	border:0;
	padding-left:15px;
	margin-bottom: 13px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {
		border: 1px solid #66D9EF;
		outline: 0;
}
textarea {

}
.ba-daily-form {
	background-color: #fff;
	max-width: 460px;
	border-radius: 4px;
	padding:25px 30px 45px;
	margin:0 auto;
}
.ba-daily-form__key {
	display: inline-block;
}
.ba-daily-form__title {
	display: inline-block;
	font:700 24px/1 Arial , sans-serif;
	color:  #1b1c1d;
	margin:3px 0px;
	background: #fff url('../img/key.png') no-repeat 0;
	padding-left: 34px;
}
.ba-daily-form__login {
	color:  #797b7f;
	margin-top: 13px;
	line-height: 20px;
	letter-spacing: 0.017em;
	margin-bottom: 30px;
}
a {
	text-decoration: none;
	color:  #ea355a;
}
a:hover {
	color: red;
}
.ba-form__row {
	display: flex;
	flex-wrap: wrap;
}
.ba-form__row {
	margin-right:-15px;
}
input {
	margin-right: 15px;
}
.ba-sign-up__paragraph {
	line-height: 19px;
	 letter-spacing: -0.025em;
}
